*
{
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.todolist-container
{
  width: 400px;
  background-color: #333;
  padding: 10px;
  color: #fff;
}