*
{
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.todolist-container
{
  width: 400px;
  background-color: #333;
  padding: 10px;
  color: #fff;
}

.todo-input
{
  margin-bottom: 10px;
}

.todo-input .inline-controls
{
  display:flex;
}

.todo-input input
{
  flex: 1 1 auto;
  border: 0;
  padding: 5px;
  outline: 0;
  color: #999;
  font-size: 15px;
}

.todo-input input:focus::placeholder
{
  color: #333;
}

.todo-input input:focus
{
  color: #000;
}

.todo-input button
{
  border: 0;
  background-color: #ed7f10;
  font-weight: bold;
  border-left: 1px solid #333;
  text-transform: uppercase;
  opacity: .7;
  cursor:pointer;
}

.todo-input button:hover
{
  opacity: 1;
}

ul.todolist
{
  list-style: none;
  padding: 0;
}

ul.todolist li
{
  padding: 10px;
}

ul.todolist li:not(:last-child)
{
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.todolist-item
{
  display:flex;
}

.todo-title
{
  flex: 1 1 auto;
  padding-left: 10px;
}

.todo-title.done
{
  text-decoration: line-through;
}

.todo-delete-btn
{
  text-transform: uppercase;
  background-color: #C60800;
  border: 0;
  color: #fff;
  cursor:pointer;
  opacity: .7;
}

.todo-delete-btn:hover
{
  opacity: 1;
}

.main-menu
{
  display: flex;
  padding: 0 5px;
  list-style: none;
}

.main-menu li
{
  
}

.main-menu li:not(:last-child)::after
{
  content: '|';
  margin: 0 5px;
}

.main-menu li a
{
  text-decoration: none;
  color: #000;
}